{% extends 'base.html' %}

{% block title %}Upcoming Books{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>All Upcoming Books</h2>
  <div class="row">
    {% for book in upcoming_books %}
      <div class="col-md-3 mb-3">
        <div class="card">
          {% if book.cover_image %}
            <img src="{{ book.cover_image.url }}" class="card-img-top" alt="{{ book.title }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p class="card-text">By {{ book.author }}</p>
            <p class="card-text"><small>Release Date: {{ book.release_date }}</small></p>
            <a href="{% url 'upcoming_book_detail' book.pk %}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No upcoming books at the moment.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
